In [13]:
%matplotlib inline
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import panel as pn
pn.extension('tabulator')

import hvplot.pandas

In [14]:
df1=pd.read_csv('dim_cities.csv')
df2=pd.read_csv('dim_date.csv')
df2['date']=pd.to_datetime(df2['date'],format='%d-%b-%y')
df3=pd.read_csv('dim_plan.csv')
df4=pd.read_csv('fact_atliqo_metrics.csv')
df4['date']=pd.to_datetime(df4['date'],format='%d-%b-%y')
df4['before/after_5g']=df4['date'].apply(lambda x:'Before 5G' if x < dt.datetime(2022,6,1) else 'After 5G')
df4['Month']=df4['date'].apply(lambda x:x.month)
df5=pd.read_csv('fact_market_share.csv')
df5['date']=pd.to_datetime(df5['date'],format='%d-%b-%y')
df6=pd.read_csv('fact_plan_revenue.csv')
df6['date']=pd.to_datetime(df6['date'],format='%d-%b-%y')

In [15]:
df4=df4.merge(df1,how='inner',on='city_code')
def time_period(x):
    if x==1 or x==6:
        return 1
    elif x==2 or x==7:
        return 2
    elif x==3 or x==8:
        return 3
    elif x==4 or x==9:
        return 4
df4['Period']=df4['Month'].apply(time_period)
df4

,date,city_code,company,atliqo_revenue_crores,arpu,active_users_lakhs,unsubscribed_users_lakhs,before/after_5g,Month,city_name,Period
0,2022-01-01,400001,Atliqo,60.69,192,31.61,1.90,Before 5G,1,Mumbai,1
1,2022-02-01,400001,Atliqo,61.19,169,36.21,2.71,Before 5G,2,Mumbai,2
2,2022-03-01,400001,Atliqo,57.28,213,26.89,2.33,Before 5G,3,Mumbai,3
3,2022-04-01,400001,Atliqo,65.24,213,30.63,2.64,Before 5G,4,Mumbai,4
4,2022-06-01,400001,Atliqo,62.09,193,32.17,2.41,After 5G,6,Mumbai,1
...,...,...,...,...,...,...,...,...,...,...,...
115,2022-04-01,492001,Atliqo,3.72,181,2.06,0.10,Before 5G,4,Raipur,4
116,2022-06-01,492001,Atliqo,4.37,255,1.71,0.15,After 5G,6,Raipur,1
117,2022-07-01,492001,Atliqo,4.17,236,1.77,0.16,After 5G,7,Raipur,2
118,2022-08-01,492001,Atliqo,3.59,237,1.51,0.14,After 5G,8,Raipur,3
119,2022-09-01,492001,Atliqo,3.73,173,2.16,0.18,After 5G,9,Raipur,4

In [16]:
##Market share
df_test=df5.merge(df1,how='inner',on='city_code')
df_test['Month']=df_test['date'].apply(lambda x:x.month)
df_test['before/after_5g']=df_test['date'].apply(lambda x:'Before 5G' if x < dt.datetime(2022,6,1) else 'After 5G')
df_test

,date,city_code,tmv_city_crores,company,ms_pct,city_name,Month,before/after_5g
0,2022-01-01,400001,286.29,Atliqo,21.20,Mumbai,1,Before 5G
1,2022-02-01,400001,328.60,Atliqo,18.62,Mumbai,2,Before 5G
2,2022-03-01,400001,305.81,Atliqo,18.73,Mumbai,3,Before 5G
3,2022-04-01,400001,324.26,Atliqo,20.12,Mumbai,4,Before 5G
4,2022-06-01,400001,308.00,Atliqo,20.16,Mumbai,6,After 5G
...,...,...,...,...,...,...,...,...
595,2022-04-01,492001,19.87,Others,7.70,Raipur,4,Before 5G
596,2022-06-01,492001,18.92,Others,6.69,Raipur,6,After 5G
597,2022-07-01,492001,21.43,Others,6.63,Raipur,7,After 5G
598,2022-08-01,492001,20.48,Others,7.79,Raipur,8,After 5G
599,2022-09-01,492001,21.50,Others,7.83,Raipur,9,After 5G

In [17]:
df3=df3.rename(columns={'plan':'plans'})
df6=df6.merge(df3,how='inner',on='plans')
df6=df6.merge(df1,how='inner',on='city_code')
df_test2=df6.copy()
df_test2['Month']=df_test2['date'].apply(lambda x:x.month)
df_test2['before/after_5g']=df_test2['date'].apply(lambda x:'Before 5G' if x < dt.datetime(2022,5,1) else 'After 5G')
df_test2

,date,city_code,plans,plan_revenue_crores,plan_description,city_name,Month,before/after_5g
0,2022-01-01,400001,p1,6.26,Smart Recharge Pack (2 GB / Day Combo For 3 mo...,Mumbai,1,Before 5G
1,2022-02-01,400001,p1,7.86,Smart Recharge Pack (2 GB / Day Combo For 3 mo...,Mumbai,2,Before 5G
2,2022-03-01,400001,p1,5.66,Smart Recharge Pack (2 GB / Day Combo For 3 mo...,Mumbai,3,Before 5G
3,2022-04-01,400001,p1,5.60,Smart Recharge Pack (2 GB / Day Combo For 3 mo...,Mumbai,4,Before 5G
4,2022-06-01,400001,p1,9.83,Smart Recharge Pack (2 GB / Day Combo For 3 mo...,Mumbai,6,After 5G
...,...,...,...,...,...,...,...,...
1195,2022-09-01,492001,p12,0.29,Ultra Duo Data Pack (1.8GB / Day Combo For 55 ...,Raipur,9,After 5G
1196,2022-06-01,492001,p13,0.11,Mini Ultra Saver Pack (750 MB/Day for 28 Days),Raipur,6,After 5G
1197,2022-07-01,492001,p13,0.07,Mini Ultra Saver Pack (750 MB/Day for 28 Days),Raipur,7,After 5G
1198,2022-08-01,492001,p13,0.10,Mini Ultra Saver Pack (750 MB/Day for 28 Days),Raipur,8,After 5G
1199,2022-09-01,492001,p13,0.08,Mini Ultra Saver Pack (750 MB/Day for 28 Days),Raipur,9,After 5G

In [18]:
df_test2[['Month','before/after_5g']].value_counts()

Month  before/after_5g
1      Before 5G          150
2      Before 5G          150
3      Before 5G          150
4      Before 5G          150
6      After 5G           150
7      After 5G           150
8      After 5G           150
9      After 5G           150
dtype: int64

# Dashboard

In [19]:
idf1=df4.interactive()
idf2=df_test.interactive()
idf3=df_test2.interactive()

In [20]:
Toggle_5G = pn.widgets.RadioButtonGroup(name='Radio Button Group', options=['Before 5G', 'After 5G'], button_type='primary')
Toggle_5G

BokehModel(combine_events=True, render_bundle={'docs_json': {'e7c91e2a-7c15-41aa-a2f5-df0cec0a0719': {'defs': …

In [21]:
month_select = pn.widgets.Select(name='Choose your month', options={'January': 1, 'February': 2, 'March': 3, 'April': 4, 'June': 6,
                                                                   'July':7,'August':8,'September':9})
month_select

BokehModel(combine_events=True, render_bundle={'docs_json': {'c7750915-e7c1-48c7-9c8b-31e78835d5c2': {'defs': …

In [22]:
city_select = pn.widgets.Select(name='Choose your city', options=[
 'Ahmedabad',
 'Bangalore',
 'Chandigarh',
 'Chennai',
 'Coimbatore',
 'Delhi',
 'Gurgaon',
 'Hyderabad',
 'Jaipur',
 'Kolkata',
 'Lucknow',
 'Mumbai',
 'Patna',
 'Pune',
 'Raipur'])
city_select

BokehModel(combine_events=True, render_bundle={'docs_json': {'bc8bc045-9aff-48e5-a95e-a02a426be2c1': {'defs': …

In [23]:
test1=idf1[(idf1['before/after_5g']==Toggle_5G) & (idf1['Month']==month_select) & (idf1['city_name']==city_select)]
test1_table=test1.pipe(pn.widgets.Tabulator, pagination='remote', page_size = 10, sizing_mode='stretch_width')
test1_table

BokehModel(combine_events=True, render_bundle={'docs_json': {'7b4f9a01-333b-40fb-bbac-4bdf5941865f': {'defs': …

In [24]:
a=idf1[(idf1['before/after_5g']==Toggle_5G.value) & (idf1['Month']==month_select.value) & (idf1['city_name']==city_select.value)]

In [25]:
a['atliqo_revenue_crores'].sum()

BokehModel(combine_events=True, render_bundle={'docs_json': {'e049ab69-7820-4a65-bb06-433e56d2f992': {'defs': …

In [26]:
df4

,date,city_code,company,atliqo_revenue_crores,arpu,active_users_lakhs,unsubscribed_users_lakhs,before/after_5g,Month,city_name,Period
0,2022-01-01,400001,Atliqo,60.69,192,31.61,1.90,Before 5G,1,Mumbai,1
1,2022-02-01,400001,Atliqo,61.19,169,36.21,2.71,Before 5G,2,Mumbai,2
2,2022-03-01,400001,Atliqo,57.28,213,26.89,2.33,Before 5G,3,Mumbai,3
3,2022-04-01,400001,Atliqo,65.24,213,30.63,2.64,Before 5G,4,Mumbai,4
4,2022-06-01,400001,Atliqo,62.09,193,32.17,2.41,After 5G,6,Mumbai,1
...,...,...,...,...,...,...,...,...,...,...,...
115,2022-04-01,492001,Atliqo,3.72,181,2.06,0.10,Before 5G,4,Raipur,4
116,2022-06-01,492001,Atliqo,4.37,255,1.71,0.15,After 5G,6,Raipur,1
117,2022-07-01,492001,Atliqo,4.17,236,1.77,0.16,After 5G,7,Raipur,2
118,2022-08-01,492001,Atliqo,3.59,237,1.51,0.14,After 5G,8,Raipur,3
119,2022-09-01,492001,Atliqo,3.73,173,2.16,0.18,After 5G,9,Raipur,4

In [27]:
df4

,date,city_code,company,atliqo_revenue_crores,arpu,active_users_lakhs,unsubscribed_users_lakhs,before/after_5g,Month,city_name,Period
0,2022-01-01,400001,Atliqo,60.69,192,31.61,1.90,Before 5G,1,Mumbai,1
1,2022-02-01,400001,Atliqo,61.19,169,36.21,2.71,Before 5G,2,Mumbai,2
2,2022-03-01,400001,Atliqo,57.28,213,26.89,2.33,Before 5G,3,Mumbai,3
3,2022-04-01,400001,Atliqo,65.24,213,30.63,2.64,Before 5G,4,Mumbai,4
4,2022-06-01,400001,Atliqo,62.09,193,32.17,2.41,After 5G,6,Mumbai,1
...,...,...,...,...,...,...,...,...,...,...,...
115,2022-04-01,492001,Atliqo,3.72,181,2.06,0.10,Before 5G,4,Raipur,4
116,2022-06-01,492001,Atliqo,4.37,255,1.71,0.15,After 5G,6,Raipur,1
117,2022-07-01,492001,Atliqo,4.17,236,1.77,0.16,After 5G,7,Raipur,2
118,2022-08-01,492001,Atliqo,3.59,237,1.51,0.14,After 5G,8,Raipur,3
119,2022-09-01,492001,Atliqo,3.73,173,2.16,0.18,After 5G,9,Raipur,4

In [28]:
calc1=df4[(df4['before/after_5g']==Toggle_5G.value) & (df4['Month']==month_select.value) & (df4['city_name']==city_select.value)]
avg_rev=calc1['atliqo_revenue_crores'].sum()
avg_ARPU=calc1['arpu'].sum()
Monthly_Active_Users=calc1['active_users_lakhs'].sum()
Monthly_Unsubscribed_Users=calc1['unsubscribed_users_lakhs'].sum()

In [29]:
avg_rev

20.97

In [30]:
Average_Revenue_card=pn.Card(
    pn.indicators.Number(value=avg_rev, default_color='white', name='Average Revenue', format='₹{value} Cr',font_size='35pt',
            title_size='13.5pt'),
    background='#E87A34',
    hide_header=True,
    width=250
)
Average_Revenue_card

BokehModel(combine_events=True, render_bundle={'docs_json': {'6a06d39f-5ace-4df4-a955-66ad2074a068': {'defs': …

In [31]:
Average_ARPU_card=pn.Card(
    pn.indicators.Number(value=avg_ARPU, default_color='white', name='Average ARPU', format='₹{value}',font_size='35pt',
            title_size='13.5pt'),
    background='#E87A34',
    hide_header=True,
    width=250
)
Average_ARPU_card

BokehModel(combine_events=True, render_bundle={'docs_json': {'9f0547c7-b6a8-4f96-aea8-45f05439d924': {'defs': …

In [32]:
Monthly_Active_Users_card=pn.Card(
    pn.indicators.Number(value=Monthly_Active_Users, default_color='white', name='Monthly Active Users', format='{value}',font_size='35pt',
            title_size='13.5pt'),
    background='#E87A34',
    hide_header=True,
    width=250
    
)
Monthly_Active_Users_card

BokehModel(combine_events=True, render_bundle={'docs_json': {'ab8f516a-ec9c-4c1b-9c1c-a813341b69aa': {'defs': …

In [33]:
Monthly_Unsubscribed_Users_card=pn.Card(
    pn.indicators.Number(value=Monthly_Unsubscribed_Users, default_color='white', name='Monthly Unsubscribed Users', format='{value} Lakhs',font_size='35pt',
            title_size='13.5pt'),
    background='#E87A34',
    hide_header=True,
    width=250
    
)
Monthly_Unsubscribed_Users_card

BokehModel(combine_events=True, render_bundle={'docs_json': {'3d9fa6e8-5bbf-4d47-89c8-dc646fbf72fc': {'defs': …

In [34]:
test2=idf2[(idf2['before/after_5g']==Toggle_5G) & (idf2['Month']==month_select) & (idf2['city_name']==city_select)]
test2_table=test2.pipe(pn.widgets.Tabulator, pagination='remote', page_size = 10, sizing_mode='stretch_width')
test2_table

BokehModel(combine_events=True, render_bundle={'docs_json': {'7f259cc8-c8e7-4a24-aed9-c55e8ca551a9': {'defs': …

In [35]:
test3=idf3[(idf3['before/after_5g']==Toggle_5G) & (idf3['Month']==month_select) & (idf3['city_name']==city_select)]
test3_table=test3.pipe(pn.widgets.Tabulator, pagination='remote', page_size = 10, sizing_mode='stretch_width')
test3_table

BokehModel(combine_events=True, render_bundle={'docs_json': {'c287acdf-2333-4b0c-b5ea-a9629744dc55': {'defs': …

In [36]:
test4=idf2[(idf2['before/after_5g']==Toggle_5G) & (idf2['Month']==month_select)]
test4_table=test4.pipe(pn.widgets.Tabulator, pagination='remote', page_size = 10, sizing_mode='stretch_width')
test4_table

BokehModel(combine_events=True, render_bundle={'docs_json': {'4536527b-5c42-418f-9774-a61f2f29bce2': {'defs': …

In [37]:
monthly_trend=idf1[idf1['city_name']==city_select]
monthly_trend_plot=monthly_trend.hvplot(x='Month',y=['atliqo_revenue_crores','arpu','active_users_lakhs', 'unsubscribed_users_lakhs'],
                                        title='Monthly Trend')
monthly_trend_plot

BokehModel(combine_events=True, render_bundle={'docs_json': {'d6e709f7-3217-4711-bb59-a5daa60fdf57': {'defs': …

In [38]:
test4_plot_data=test4.groupby(['company'])['tmv_city_crores'].sum()
test4_plot_data
test4_plot=test4_plot_data.hvplot(x='company',y='tmv_city_crores',size=80, kind="bar", 
                                                                alpha=0.7,
                                                                legend=False, 
                                                                height=400, 
                                                                width=400)
test4_plot

BokehModel(combine_events=True, render_bundle={'docs_json': {'e86d4a04-bd86-41b2-97ff-b910c09da406': {'defs': …

In [40]:
#Layout using Template
template = pn.template.FastListTemplate(
    title='AtliQo- India’s leading telecom provider', 
    sidebar=[pn.pane.PNG('Atliq_logo_for_dashboard.png', sizing_mode='scale_both'),
             pn.pane.Markdown("#### AtliQo is one of the leading telecom providers in India and launched it’s 5G plans in May 2022 along with other telecom providers."),
             pn.pane.Markdown("## Filters"),
              pn.pane.Markdown("#### 5G Toggle "),
             Toggle_5G,
              pn.pane.Markdown("#### Select your Month"),
             month_select,
              pn.pane.Markdown("#### Select your city"),
             city_select
             ],
    main=[pn.Row(pn.pane.Markdown('# Management Metrics'),
          pn.Column(Average_Revenue_card),pn.Column(Average_ARPU_card),pn.Column(Monthly_Active_Users_card),pn.Column(Monthly_Unsubscribed_Users_card)), 
          pn.Row(pn.pane.Markdown('# Split by cities',sizing_mode='stretch_width'),width_policy='max'),
          pn.Row(test2_table.panel(width=900), margin=(0,100)),
          pn.Row(pn.pane.Markdown('# Monthly Trend ',sizing_mode='stretch_width'),width_policy='max'),
          pn.Row(monthly_trend_plot.panel(width=700), margin=(0,100)),
          pn.Row(pn.pane.Markdown('# Market Share over months for all companies',sizing_mode='stretch_width'),width_policy='max'),
          pn.Row(pn.Column(test4_table.panel(width=500)),pn.Column(test4_plot.panel(width=400), margin=(0,150))),
          pn.Row(pn.pane.Markdown('# Top Plans by Revenue',sizing_mode='stretch_width'),width_policy='max'),
          pn.Row(test3_table.panel(width=700), margin=(0,100)),
          ],
    accent_base_color="#E87A34",
    header_background="#DB354D",
)
# template.show()
template.servable();